body {
  background-color: #293047;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  text-align: center;
}
header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  /* background-color: #89d4cf; */
  background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
  height: 100px;
  border-bottom: 3px solid rgb(210, 172, 219);
}
footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  width: 98.7%;
  height: 75px;
  background-color: #89d4cf;
  background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
  border-top: 3px solid rgb(210, 172, 219);
  box-shadow: 0 0 20px 25px rgb(210, 172, 219);
  color: aliceblue;
  text-align: center;
  padding-top: 10px;
}
/* #page-container {
  position: relative;
  min-height: 100vh;
} */
#spanFoot {
  /* margin-left: 40%; */
}
