body {
  background-color: #293047;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  background-image: linear-gradient(315deg, #89d4cf 0%, #5d4274 74%);
  height: 75px;
  border-bottom: 3px solid rgb(255, 255, 255);
}

.vote {
  color: black;
  background-color: #293047;
}

hr {
  margin: 25px;
  background-color: white;
}

.row {
  background-color: black;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 21px;
}

.votes {
  color:cadetblue;
}

.votesHR {
  margin-left: 30%;
  margin-right: 30%;
}

button {
  margin: 0 auto;
  font-size: 23px;
  text-align: center;
  width: 200px;
  padding: 5px;
  margin: 25px;
  border: none;
  border-radius: 25px;
  background-color: black;
  color: cyan
}

button:hover {
  cursor:pointer;
}

button:active:hover {
  color: black;
  background-color: cyan;
}
.vote:active:hover {
  background-color: black;
  color: cyan
}

.tg {
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top
}